@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    line-height: 1.4;
    font-family: 'Poppins', sans-serif;
    background-color: #101010;
    color: #d4d4d4;
}

.main-container {
    padding: 7rem 4rem 2rem ;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    font-size: 2.5rem;
    line-height: 1.4;
    width: 100%;
}

.avatar {
    position: absolute;
    bottom: -320px;
    left: 30px;
    max-width: none;
    opacity: 0;
    transition: all 0.3s ease-in-out ;
    pointer-events: none;
}

.dev-name:hover > .avatar {
    opacity: 1;
  }


@media only screen and (max-width: 768px) {
    .main-container {
        padding: 4rem 1.2rem 1.2rem;
        gap: 2rem;
        font-weight: 400;
        font-size: 1.5rem;
    }
}